<div class="footer">
  <a class="text-decoration-none footer-link" href="https://linkjoy.io/?utm_source=LNKJ&utm_medium=Footer&utm_campaign=LNKJ" target="_blank" rel="noopener noreferrer">Powered by <img src="sprite/svg/linkjoy-header-logo.svg" alt="LINKJOY"></a>

  <div class="d-flex justify-content-center align-items-center">
    <a href="https://www.linkjoy.io/report-phishing" target="_blank" rel="noopener noreferrer" style="font-size:10px;">Report
      Phishing</a>
    <span class="mx-1 my-0"></span>
    <a href="https://www.linkjoy.io/report-violation" target="_blank" rel="noopener noreferrer" style="font-size:10px;">Report Violation</a>
  </div>
</div>